<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuardianGo">

        <activity
            android:name=".screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screen.sign_up_main"></activity>

        <activity android:name=".screen.find_id"></activity>

        <activity android:name=".screen.find_password"></activity>

        <activity android:name=".screen.select_find"></activity>

        <activity android:name=".screen.home_group"></activity>

        <activity android:name=".screen.StreetView"></activity>

        <activity android:name=".screen.find_destination"></activity>

        <activity android:name=".screen.home"></activity>

        <activity android:name=".screen.SirenRecord"></activity>

        <activity android:name=".screen.report"></activity>

        <activity android:name=".screen.select_report"></activity>

        <!--구글맵 부분-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAB_0ZJm5BrHx1bbpOwSjmc-dXvglILKNI" />

        <activity
            android:name=".screen.your_new_home"
            android:exported="true">
        </activity>
    </application>

    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 오디오 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 저장소 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
